name: C/C++ CI

on: [push]

jobs:
  build_on_ubuntu:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: configure
      run: mkdir build; cd build; cmake ..
    - name: build
      run: cd build; cmake --build . --target install
      
  build_on_windows:

    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: configure
      run: mkdir build && cd build && cmake ..
    - name: build
      run: cd build && cmake --build . --target install    
      
  build_on_macOS:

    runs-on: macOS-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: configure
      run: mkdir build; cd build; cmake ..
    - name: build
      run: cd build; cmake --build . --target install
    
